<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Alunos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h2>Lista de Alunos grande</h2>
    
  </body>
</html>